@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

:root {
  --color-border:#e0e3e6; 
  --color-title:#8e969d;
  --color-subtitle:#686b6e;
  --color-headfoot: #f9f9f9;
  --color-text: #383a3f;
  --color-bg: #383a3f;
}

.dark {
  --color-border:#252629; 
  --color-title:#8e969d;
  --color-subtitle:#cedae7;
  --color-headfoot: #292a2c;
  --color-text: #d6d1d1;
  --color-bg: #383a3f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

html{
  background-color: var(--color-bg);
}

h1 {
  font-size: 3rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  color: var(--color-title);
}

h2 {
  font-size: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  color: var(--color-subtitle);
}

p{
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--color-text);
}

a{
  text-decoration: none;
}

input {
  width: 50%;
  font-size: 2.5rem;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
}

textarea{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 15px;
}

button {
  font-size: 20px;
  padding: 8px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-headfoot);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: orange;
  font-weight: 800;
  text-align: center;
}

.buttons span{
  padding: 0.5rem;
}

.buttons>:nth-of-type(1){
  background-color: green;
  margin-right: 20px;
}

.buttons>:nth-of-type(1):hover{
  background-color: darkgreen;
}

/* Blog Item */
.blog-item{
  display: flex;
  margin: 2rem;
  padding: 2rem;
}

.blog-item:hover{
 scale: 1.015;
}

.blog-item:hover .blog-title {
  color: white;
}

.blog-item>div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-item>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 75%;
  height: 50%;
}


.published {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-title);
}

.published>span {
  color: lightgray;
}

.blogs-list{
  margin: 0 14%;
}

/* Blog Page */
.blog-page{
  margin: 2rem 30%;
}

.img-container {
  text-align: center;
}

.img-container>img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.horizontal-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.horizontal-container>div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn{
  background-color: orange;
  margin: 0 0.5rem;
}

.delete-btn{
  background-color: red;
  margin: 0 0.5rem;
}

/* Create Blog */
.create-blog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-blog>button{
  background-color: green;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 1rem;
  width: 20%;
}

/* Footer */
.footer{
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  text-align: center;
  background-color: var(--color-headfoot);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  height: 10rem;
}

.footer>p {
  margin: 0 auto;
  width: 100%;
  height: auto;
}