@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

button {
  font-size: 20px;
  padding: 8px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: orange;
  font-weight: 800;
  text-align: center;
}

.buttons>:nth-of-type(1){
  background-color: green;
  margin-right: 20px;
}

.buttons>:nth-of-type(1):hover{
  background-color: darkgreen;
}

.buttons>:nth-of-type(2){
  background-color: darkmagenta;

}

.buttons>:nth-of-type(2):hover{
  background-color: purple;
}